<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfTime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <WpfTime.Properties.Settings>
            <setting name="Format" serializeAs="String">
                <value>HH:mm:ss</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe Print, 14.25pt, style=Bold</value>
            </setting>
            <setting name="BorderThickness" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerPeriod" serializeAs="String">
                <value>1000</value>
            </setting>
        </WpfTime.Properties.Settings>
    </userSettings>
</configuration>
